.App{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: white;
  padding: 50px;
  width: 25%;
  border-radius: 10px;
}
.headings h1{
  text-align: center;
  color: gray;
  margin-bottom: 10px;
  font-weight: 900;
}
.headings p{
  text-align: center;
  color: rgba(128, 128, 128, 0.731);
  font-weight: 600;
  margin-bottom: 50px; 
}
.total{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: rgba(128, 128, 128, 0.518);
  border-radius: 20px;
  color: rgb(78, 66, 66);
  margin-bottom: 40px;
  padding: 10px;
}
.total h2{
  font-size: 50px;
  font-weight: 900;
}
.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.input .outlined-basic{
  margin-bottom: 20px;
}
.button{
  display: flex;
  justify-content: space-around;
}